In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline
pd.set_option('display.max_rows', 500)

# Group by apply

In [2]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada        0.0
1 2020-01-22       no  Korea, South        1.0
2 2020-01-22       no        Kosovo        0.0
3 2020-01-22       no        Kuwait        0.0
4 2020-01-22       no    Kyrgyzstan        0.0

In [3]:
test_data=pd_JH_data[((pd_JH_data['country']=='Yemen')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2020-06-20')]

In [4]:
test_data.head()

            date state  country  confirmed
40207 2020-06-21    no  Germany   191272.0
40258 2020-06-21    no    Yemen      941.0
40476 2020-06-22    no  Germany   191768.0
40527 2020-06-22    no    Yemen      967.0
40740 2020-06-23    no  Germany   192480.0

In [5]:
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-08-21    no   233029.0
Yemen   2020-08-21    no     1906.0

In [6]:
# %load ../src/features/build_features.py

import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)

def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate'''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    #assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

In [7]:
test_data.groupby(['state','country']).agg(np.max)

                    date  confirmed
state country
no    Germany 2020-08-21   233029.0
      Yemen   2020-08-21     1906.0

In [8]:
#test_data.groupby(['state','country']).apply(get_doubling_time_via_regression)

In [9]:
def rolling_reg(df_input,col='confirmed'):
    
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [10]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  40207           NaN
                40476           NaN
                40740    317.615894
                41007    348.817770
                41273    433.013094
                41539    332.061803
                41805    356.862925
                42071    591.767631
                42337    666.886986
                42602    538.071724
                42869    459.344301
                43134    411.541317
                43400    442.723036
                43667    475.320451
                43933    530.732167
                44198    456.339492
                44465    482.869919
                44731    624.783202
                44997    603.893617
                45263    628.785677
                45529    563.128060
                45795    680.249858
                46061    848.985138
                46326    745.567970
                46592    564.813146
                46858    404.289738
                47125    348.851371
                47389    413.880464
                47658    586.672464
                47923    451.231739
                48187    413.969450
                48454    428.543989
                48720    351.016037
                48985    304.271220
                49253    294.336435
                49518    394.998723
                49783    495.649081
                50051    398.388462
                50316    289.802417
                50582    228.223195
                50849    226.112610
                51115    286.140136
                51380    513.701989
                51647    382.360458
                51913    263.747512
                52179    212.804529
                52445    193.571536
                52711    206.544407
                52977    231.809013
                53242    397.061661
                53509    271.110696
                53775    194.001184
                54041    186.844463
                54307    161.177186
                54572    151.644156
                54839    202.555505
                55104    369.126096
                55371    203.795961
                55637    145.588821
                55902    151.813262
                56169    144.833544
                56434    139.237035
       Yemen    40258           NaN
                40527           NaN
                40791     37.908497
                41058     41.305556
                41324     24.468254
                41589     28.648649
                41856     80.691358
                42122     76.091954
                42387     89.306667
                42653     56.733333
                42920     37.376344
                43186     37.767196
                43451     48.680000
                43718     91.580247
                43984    100.080000
                44249     70.314815
                44516     80.125000
                44782     76.450980
                45047     44.870056
                45314     43.591398
                45580     83.333333
                45846     33.207843
                46111     26.617737
                46377     58.549020
                46643    108.095238
                46909     85.074074
                47176     62.053333
                47440    108.252874
                47709    105.844444
                47974     84.315789
                48238    140.695652
                48505    155.174603
                48772    131.280000
                49036     97.411765
                49304    166.733333
                49571    478.952381
                49834    197.882353
                50102    153.787879
                50368    170.166667
                50633    148.985507
                50900    202.549020
                51166    864.000000
                51431    576.888889
                51698    866.333333
                51964    134.051282
                52229    120.850575
                52496    440.916667
                52762    107.616162
                53028    123.241379
                53293    449.750000
                53560    103.485714
                53826    134.987654
                54091    407.703704
                54358    229.958333
                54623    217.490196
                54891    337.151515
                55155    338.484848
                55422    155.805556
                55688    188.000000
                55953    377.533333
                56221    378.666667
                56456    271.285714
Name: confirmed, dtype: float64

In [11]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [12]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'doubling_rate',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  doubling_rate
0  Alberta  Canada      0            NaN
1  Alberta  Canada    465            NaN
2  Alberta  Canada    701            NaN
3  Alberta  Canada    998            NaN
4  Alberta  Canada   1231            NaN

In [13]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada        0.0
1      1 2020-01-22       no  Korea, South        1.0
2      2 2020-01-22       no        Kosovo        0.0
3      3 2020-01-22       no        Kuwait        0.0
4      4 2020-01-22       no    Kyrgyzstan        0.0

In [14]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','doubling_rate']],on=['index'],how='left')

In [15]:
pd_result_larg[pd_result_larg['country']=='Germany']

       index       date state  country  confirmed  doubling_rate
43        43 2020-01-22    no  Germany        0.0            NaN
308      308 2020-01-23    no  Germany        0.0            NaN
575      575 2020-01-24    no  Germany        0.0            NaN
840      840 2020-01-25    no  Germany        0.0            NaN
1106    1106 2020-01-26    no  Germany        0.0            NaN
1373    1373 2020-01-27    no  Germany        1.0       0.666667
1639    1639 2020-01-28    no  Germany        4.0       0.833333
1904    1904 2020-01-29    no  Germany        4.0       2.000000
2171    2171 2020-01-30    no  Germany        4.0            inf
2437    2437 2020-01-31    no  Germany        5.0       8.666667
2703    2703 2020-02-01    no  Germany        8.0       2.833333
2969    2969 2020-02-02    no  Germany       10.0       3.066667
3234    3234 2020-02-03    no  Germany       12.0       5.000000
3501    3501 2020-02-04    no  Germany       12.0      11.333333
3765    3765 2020-02-05    no  Germany       12.0            inf
4033    4033 2020-02-06    no  Germany       12.0            inf
4298    4298 2020-02-07    no  Germany       13.0      24.666667
4564    4564 2020-02-08    no  Germany       13.0      25.333333
4831    4831 2020-02-09    no  Germany       14.0      26.666667
5097    5097 2020-02-10    no  Germany       14.0      27.333333
5362    5362 2020-02-11    no  Germany       16.0      14.666667
5629    5629 2020-02-12    no  Germany       16.0      15.333333
5895    5895 2020-02-13    no  Germany       16.0            inf
6161    6161 2020-02-14    no  Germany       16.0            inf
6427    6427 2020-02-15    no  Germany       16.0            inf
6693    6693 2020-02-16    no  Germany       16.0            inf
6959    6959 2020-02-17    no  Germany       16.0            inf
7224    7224 2020-02-18    no  Germany       16.0            inf
7491    7491 2020-02-19    no  Germany       16.0            inf
7756    7756 2020-02-20    no  Germany       16.0            inf
8022    8022 2020-02-21    no  Germany       16.0            inf
8289    8289 2020-02-22    no  Germany       16.0            inf
8555    8555 2020-02-23    no  Germany       16.0            inf
8820    8820 2020-02-24    no  Germany       16.0            inf
9087    9087 2020-02-25    no  Germany       17.0      32.666667
9353    9353 2020-02-26    no  Germany       27.0       3.636364
9619    9619 2020-02-27    no  Germany       46.0       2.068966
9885    9885 2020-02-28    no  Germany       48.0       3.841270
10151  10151 2020-02-29    no  Germany       79.0       3.494949
10417  10417 2020-03-01    no  Germany      130.0       2.089431
10683  10683 2020-03-02    no  Germany      159.0       3.066667
10948  10948 2020-03-03    no  Germany      196.0       4.898990
11214  11214 2020-03-04    no  Germany      262.0       3.993528
11480  11480 2020-03-05    no  Germany      482.0       2.191142
11747  11747 2020-03-06    no  Germany      670.0       2.310458
12011  12011 2020-03-07    no  Germany      799.0       4.103049
12280  12280 2020-03-08    no  Germany     1040.0       4.520721
12545  12545 2020-03-09    no  Germany     1176.0       5.331565
12809  12809 2020-03-10    no  Germany     1457.0       5.872102
13076  13076 2020-03-11    no  Germany     1908.0       4.135701
13342  13342 2020-03-12    no  Germany     2078.0       5.843264
13607  13607 2020-03-13    no  Germany     3675.0       2.890398
13875  13875 2020-03-14    no  Germany     4585.0       2.749103
14140  14140 2020-03-15    no  Germany     5795.0       4.419811
14406  14406 2020-03-16    no  Germany     7272.0       4.379606
14673  14673 2020-03-17    no  Germany     9257.0       4.298864
14939  14939 2020-03-18    no  Germany    12327.0       3.805605
15205  15205 2020-03-19    no  Germany    15320.0       4.057837
15471  15471 2020-03-20    no  Germany    19848.0       4.209990
15737  15737 2020-03-21    no  Germany    22213.0       5.549688
16002  16002 2020-03-22    no  Germany    24873.0       8.880133
16268  16268 2020-03-23    no  Germany    29056.0       7.417994
16534  16534 2020-03-24    no  Germany    32986.0       7.142035
16800  16800 2020-03-25    no  Germany    37323.0       8.012983
17066  17066 2020-03-26    no  Germany    43938.0       6.954407
17333  17333 2020-03-27    no  Germany    50871.0       6.501919
17598  17598 2020-03-28    no  Germany    57695.0       7.390371
17864  17864 2020-03-29    no  Germany    62095.0      10.136671
18131  18131 2020-03-30    no  Germany    66885.0      13.541893
18395  18395 2020-03-31    no  Germany    71808.0      13.781393
18662  18662 2020-04-01    no  Germany    77872.0      13.140681
18928  18928 2020-04-02    no  Germany    84794.0      12.037271
19193  19193 2020-04-03    no  Germany    91159.0      12.735506
19461  19461 2020-04-04    no  Germany    96092.0      16.052694
19726  19726 2020-04-05    no  Germany   100123.0      21.372453
19993  19993 2020-04-06    no  Germany   103374.0      27.427355
20259  20259 2020-04-07    no  Germany   107663.0      27.511936
20525  20525 2020-04-08    no  Germany   113296.0      21.792179
20790  20790 2020-04-09    no  Germany   118181.0      21.495848
21057  21057 2020-04-10    no  Germany   122171.0      26.565108
21322  21322 2020-04-11    no  Germany   124908.0      36.198404
21589  21589 2020-04-12    no  Germany   127854.0      43.982990
21854  21854 2020-04-13    no  Germany   130072.0      49.423444
22120  22120 2020-04-14    no  Germany   131359.0      74.043747
22386  22386 2020-04-15    no  Germany   134753.0      56.424411
22653  22653 2020-04-16    no  Germany   137698.0      42.468318
22919  22919 2020-04-17    no  Germany   141397.0      41.525988
23184  23184 2020-04-18    no  Germany   143342.0      49.898063
23451  23451 2020-04-19    no  Germany   145184.0      75.684007
23716  23716 2020-04-20    no  Germany   147065.0      78.000000
23982  23982 2020-04-21    no  Germany   148291.0      94.526338
24248  24248 2020-04-22    no  Germany   150648.0      82.985208
24515  24515 2020-04-23    no  Germany   153129.0      62.294061
24780  24780 2020-04-24    no  Germany   154999.0      70.294338
25046  25046 2020-04-25    no  Germany   156513.0      91.536840
25313  25313 2020-04-26    no  Germany   157770.0     112.903164
25578  25578 2020-04-27    no  Germany   158758.0     140.472457
25844  25844 2020-04-28    no  Germany   159912.0     148.285092
26111  26111 2020-04-29    no  Germany   161539.0     115.116625
26377  26377 2020-04-30    no  Germany   163009.0     104.285868
26642  26642 2020-05-01    no  Germany   164077.0     128.349094
26909  26909 2020-05-02    no  Germany   164967.0     167.535921
27175  27175 2020-05-03    no  Germany   165664.0     207.816845
27441  27441 2020-05-04    no  Germany   166152.0     279.484107
27707  27707 2020-05-05    no  Germany   167007.0     247.616282
27972  27972 2020-05-06    no  Germany   168162.0     166.275622
28239  28239 2020-05-07    no  Germany   169430.0     138.835878
28505  28505 2020-05-08    no  Germany   170588.0     139.648255
28769  28769 2020-05-09    no  Germany   171324.0     179.986624
29036  29036 2020-05-10    no  Germany   171879.0     265.319391
29302  29302 2020-05-11    no  Germany   172576.0     274.642705
29567  29567 2020-05-12    no  Germany   173171.0     267.092879
29835  29835 2020-05-13    no  Germany   174098.0     227.702584
30100  30100 2020-05-14    no  Germany   174478.0     266.129559
30367  30367 2020-05-15    no  Germany   175233.0     307.670485
30633  30633 2020-05-16    no  Germany   175752.0     274.967556
30899  30899 2020-05-17    no  Germany   176369.0     309.480047
31164  31164 2020-05-18    no  Germany   176551.0     441.111389
31431  31431 2020-05-19    no  Germany   177778.0     251.099125
31696  31696 2020-05-20    no  Germany   178473.0     184.808186
31961  31961 2020-05-21    no  Germany   179021.0     287.086082
32229  32229 2020-05-22    no  Germany   179710.0     289.519806
32494  32494 2020-05-23    no  Germany   179986.0     372.170639
32760  32760 2020-05-24    no  Germany   180328.0     582.550162
33027  33027 2020-05-25    no  Germany   180600.0     587.311618
33293  33293 2020-05-26    no  Germany   181200.0     414.470948
33558  33558 2020-05-27    no  Germany   181524.0     392.008658
33825  33825 2020-05-28    no  Germany   182196.0     364.738956
34091  34091 2020-05-29    no  Germany   182922.0     260.678112
34357  34357 2020-05-30    no  Germany   183189.0     368.114804
34623  34623 2020-05-31    no  Germany   183410.0     750.711749
34889  34889 2020-06-01    no  Germany   183594.0     905.667490
35155  35155 2020-06-02    no  Germany   183879.0     783.060412
35420  35420 2020-06-03    no  Germany   184121.0     697.778621
35687  35687 2020-06-04    no  Germany   184472.0     621.103991
35952  35952 2020-06-05    no  Germany   184924.0     459.540888
36218  36218 2020-06-06    no  Germany   185450.0     378.218132
36485  36485 2020-06-07    no  Germany   185750.0     448.849072
36751  36751 2020-06-08    no  Germany   186109.0     563.792615
37016  37016 2020-06-09    no  Germany   186506.0     492.385362
37283  37283 2020-06-10    no  Germany   186522.0     902.561743
37549  37549 2020-06-11    no  Germany   186691.0    2017.005405
37815  37815 2020-06-12    no  Germany   187226.0     530.718750
38081  38081 2020-06-13    no  Germany   187267.0     649.518519
38347  38347 2020-06-14    no  Germany   187518.0    1283.130137
38613  38613 2020-06-15    no  Germany   187682.0     903.561446
38879  38879 2020-06-16    no  Germany   188252.0     511.763851
39144  39144 2020-06-17    no  Germany   188604.0     408.198120
39410  39410 2020-06-18    no  Germany   189817.0     241.394249
39676  39676 2020-06-19    no  Germany   190299.0     223.685349
39943  39943 2020-06-20    no  Germany   190670.0     446.100821
40207  40207 2020-06-21    no  Germany   191272.0     392.080164
40476  40476 2020-06-22    no  Germany   191768.0     348.336369
40740  40740 2020-06-23    no  Germany   192480.0     317.615894
41007  41007 2020-06-24    no  Germany   192871.0     348.817770
41273  41273 2020-06-25    no  Germany   193371.0     433.013094
41539  41539 2020-06-26    no  Germany   194036.0     332.061803
41805  41805 2020-06-27    no  Germany   194458.0     356.862925
42071  42071 2020-06-28    no  Germany   194693.0     591.767631
42337  42337 2020-06-29    no  Germany   195042.0     666.886986
42602  42602 2020-06-30    no  Germany   195418.0     538.071724
42869  42869 2020-07-01    no  Germany   195893.0     459.344301
43134  43134 2020-07-02    no  Germany   196370.0     411.541317
43400  43400 2020-07-03    no  Germany   196780.0     442.723036
43667  43667 2020-07-04    no  Germany   197198.0     475.320451
43933  43933 2020-07-05    no  Germany   197523.0     530.732167
44198  44198 2020-07-06    no  Germany   198064.0     456.339492
44465  44465 2020-07-07    no  Germany   198343.0     482.869919
44731  44731 2020-07-08    no  Germany   198699.0     624.783202
44997  44997 2020-07-09    no  Germany   199001.0     603.893617
45263  45263 2020-07-10    no  Germany   199332.0     628.785677
45529  45529 2020-07-11    no  Germany   199709.0     563.128060
45795  45795 2020-07-12    no  Germany   199919.0     680.249858
46061  46061 2020-07-13    no  Germany   200180.0     848.985138
46326  46326 2020-07-14    no  Germany   200456.0     745.567970
46592  46592 2020-07-15    no  Germany   200890.0     564.813146
46858  46858 2020-07-16    no  Germany   201450.0     404.289738
47125  47125 2020-07-17    no  Germany   202045.0     348.851371
47389  47389 2020-07-18    no  Germany   202426.0     413.880464
47658  47658 2020-07-19    no  Germany   202735.0     586.672464
47923  47923 2020-07-20    no  Germany   203325.0     451.231739
48187  48187 2020-07-21    no  Germany   203717.0     413.969450
48454  48454 2020-07-22    no  Germany   204276.0     428.543989
48720  48720 2020-07-23    no  Germany   204881.0     351.016037
48985  48985 2020-07-24    no  Germany   205623.0     304.271220
49253  49253 2020-07-25    no  Germany   206278.0     294.336435
49518  49518 2020-07-26    no  Germany   206667.0     394.998723
49783  49783 2020-07-27    no  Germany   207112.0     495.649081
50051  50051 2020-07-28    no  Germany   207707.0     398.388462
50316  50316 2020-07-29    no  Germany   208546.0     289.802417
50582  50582 2020-07-30    no  Germany   209535.0     228.223195
50849  50849 2020-07-31    no  Germany   210399.0     226.112610
51115  51115 2020-08-01    no  Germany   211005.0     286.140136
51380  51380 2020-08-02    no  Germany   211220.0     513.701989
51647  51647 2020-08-03    no  Germany   212111.0     382.360458
51913  51913 2020-08-04    no  Germany   212828.0     263.747512
52179  52179 2020-08-05    no  Germany   214113.0     212.804529
52445  52445 2020-08-06    no  Germany   215039.0     193.571536
52711  52711 2020-08-07    no  Germany   216196.0     206.544407
52977  52977 2020-08-08    no  Germany   216903.0     231.809013
53242  53242 2020-08-09    no  Germany   217288.0     397.061661
53509  53509 2020-08-10    no  Germany   218508.0     271.110696
53775  53775 2020-08-11    no  Germany   219540.0     194.001184
54041  54041 2020-08-12    no  Germany   220859.0     186.844463
54307  54307 2020-08-13    no  Germany   222281.0     161.177186
54572  54572 2020-08-14    no  Germany   223791.0     151.644156
54839  54839 2020-08-15    no  Germany   224488.0     202.555505
55104  55104 2020-08-16    no  Germany   225007.0     369.126096
55371  55371 2020-08-17    no  Germany   226700.0     203.795961
55637  55637 2020-08-18    no  Germany   228120.0     145.588821
55902  55902 2020-08-19    no  Germany   229706.0     151.813262
56169  56169 2020-08-20    no  Germany   231292.0     144.833544
56434  56434 2020-08-21    no  Germany   233029.0     139.237035

In [16]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','doubling_rate']],on=['index'],how='left')
pd_result_larg.head()

   index       date    state       country  confirmed  doubling_rate
0      0 2020-01-22  Alberta        Canada        0.0            NaN
1      1 2020-01-22       no  Korea, South        1.0            NaN
2      2 2020-01-22       no        Kosovo        0.0            NaN
3      3 2020-01-22       no        Kuwait        0.0            NaN
4      4 2020-01-22       no    Kyrgyzstan        0.0            NaN

# Filtering the data with groupby apply

In [17]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [18]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [19]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,doubling_rate,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0
1,1,2020-01-22,no,"Korea, South",1.0,NaN,0.8
2,2,2020-01-22,no,Kosovo,0.0,NaN,0.0
3,3,2020-01-22,no,Kuwait,0.0,NaN,0.0
4,4,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0

# Filtered doubling rate

In [20]:

pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'doubling_rate_filtered',
                             'level_2':'index'})

pd_filtered_doubling.tail()

      state   country  index  doubling_rate_filtered
56653    no  Zimbabwe  55460               54.757039
56654    no  Zimbabwe  55658               46.956725
56655    no  Zimbabwe  55955               48.673197
56656    no  Zimbabwe  56190               44.892728
56657    no  Zimbabwe  56657               41.389573

In [21]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','doubling_rate_filtered']],on=['index'],how='left')
pd_result_larg.tail()

,index,date,state,country,confirmed,doubling_rate,confirmed_filtered,doubling_rate_filtered
56653,56653,2020-08-21,no,Barbados,157.0,156.000000,157.2,119.923077
56654,56654,2020-08-21,no,Belarus,70111.0,451.316129,70089.0,529.575322
56655,56655,2020-08-21,no,Belgium,80894.0,113.333804,80796.6,133.638560
56656,56656,2020-08-21,no,Albania,8119.0,51.895765,8120.8,51.291050
56657,56657,2020-08-21,no,Zimbabwe,5815.0,66.678295,5854.0,41.389573

In [22]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['doubling_rate_filtered_DR']=pd_result_larg['doubling_rate_filtered'].where(mask, other=np.NaN)

In [23]:
pd_result_larg.head()

,index,date,state,country,confirmed,doubling_rate,confirmed_filtered,doubling_rate_filtered,doubling_rate_filtered_DR
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0,NaN,NaN
1,1,2020-01-22,no,"Korea, South",1.0,NaN,0.8,NaN,NaN
2,2,2020-01-22,no,Kosovo,0.0,NaN,0.0,NaN,NaN
3,3,2020-01-22,no,Kuwait,0.0,NaN,0.0,NaN,NaN
4,4,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0,NaN,NaN

In [24]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)